 body {
      margin: 0;
      font-family: Arial, sans-serif;
      background-color: #f9f9f9;
    }

header {
      background-color: #588B7F;
      color: white;
      text-align: center;
      padding: 20px;
    }

nav {
      background-color: #A83249;
      color: white;
      padding: 10px;
      text-align: center;
    }

nav a {
      color: white;
      text-decoration: none;
      margin: 0 10px;
      font-weight: bold;
    }

section {
      display: flex; /* Activa Flexbox */
      justify-content: space-between; /* Espacio entre las secciones */
      gap: 20px; /* Espacio uniforme entre las secciones */
      padding: 20px;
      flex-wrap: wrap; /* Permite que las secciones se apilen */
    }

    .izquierda,
    .centro,
    .derecha {
      padding: 20px;
      border-radius: 8px;
      box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
    }

    .izquierda {
      flex: 1; /* Ocupa una parte del espacio */
      background-color: #F7D794; /* Color de fondo */
    }

    .centro {
      flex: 2; /* Ocupa el doble de espacio */
      background-color: #F7D794; /* Color de fondoo */
      box-shadow: 0 2px 5px #303330;
    }

    .derecha {
      flex: 1; /* Ocupa una parte del espacio */
      background-color: #F7D794; /* Azul claro */
    }

    iframe {
      width: 100%;
      height: 700px;
      border: none;
      border-radius: 8px;
    }

    footer {
      background-color: #A83249;
      color: white;
      text-align: center;
      padding: 10px;
      position: relative;
      bottom: 0;
      width: 100%;
    }

    @media (max-width: 768px) {
      .izquierda,
      .centro,
      .derecha {
        flex: 1 1 100%; /* Cada sección ocupa el 100% del ancho */
        margin-bottom: 5px; /* Espaciado entre secciones apiladas */
      }
    }